@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --checkerboard-light: #e5e7eb;
  --checkerboard-dark: #d1d5db;
}
.dark {
  --checkerboard-light: #374151;
  --checkerboard-dark: #1f2937;
}

.checkerboard {
  background-image:
    linear-gradient(45deg, var(--checkerboard-light) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkerboard-light) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkerboard-light) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkerboard-light) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  background-color: var(--checkerboard-dark);
}

body {
  @apply bg-gray-50 font-sans antialiased dark:bg-gray-900;
}
